body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Fondo oscuro */
    color: #f0f0f0; /* Color de texto claro */
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    background-color: #222; /* Color de fondo del contenedor */
    border-radius: 56px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    border-radius: 60px; /* Bordes redondeados */
}

.menu-toggle, .options-toggle {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    color: #f0f0f0; /* Color de ícono claro */
    border-radius: 60px; /* Bordes redondeados */
}

h2 {
    color: inherit;
}

main {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
}

section {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 60px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    background-color: #222; /* Capa 2 background */
    position: relative;
}

section.layer-1 {
    background-color: #666; /* Capa 1 background */
    border-radius: 60px; /* Bordes redondeados */
}

section.layer-2 {
    background-color: #222; /* Capa 2 background */
    position: relative;
    border-radius: 60px; /* Bordes redondeados */
}

section.layer-2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5)); /* Gradiente de superposición */
    z-index: -1;
    border-radius: 60px; /* Bordes redondeados */
}

section.layer-3 {
    background-color: #333; /* Capa 3 background */
    padding: 30px;
    border-radius: 60px; /* Bordes redondeados */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    border-radius: 60px; /* Bordes redondeados */
}

footer p {
    color: #666;
    font-size: 14px;
}

/* Estilos para superposición de opciones */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 0px; /* Bordes redondeados */
}

.overlay-content {
    background-color: #222;
    padding: 20px;
    border-radius: 60px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
    border-radius: 60px; /* Bordes redondeados */
}

/* Estilo para el botón de más opciones */
.options-toggle {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    color: #f0f0f0; /* Color de ícono claro */
    transition: color 0.3s ease;
    border-radius: 60px; /* Bordes redondeados */
}

.options-toggle:hover {
    color: #ccc; /* Cambiar color de ícono al pasar el cursor */
}
